@import '../../../styles/vars.scss';

.facts-item {
  font-size: 1.2rem;
  border: 1px solid #000;
  padding: .3em;
  background: $neutral-regular;
  color: #fff;
  &:nth-child(n+2) {
    margin-top: .5em;
  }
}